html{
	background-image: url('./splash.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	background-color: rgba(0,0,0,0.92);
}
ul {
	
	font-size: 1.5em;
	list-style: none;
	font-family: 'Roboto', sans-serif;
	margin-top: 11em;
	letter-spacing: .23em;
	line-height: 1.5em;
}
a {
	color: rgba(255,255,255,0.94);
	text-decoration: none;
}
a:hover {
	color: rgba(244,208,77,0.94);
	background-color: rgba(0,0,0,0.5);
}